.experts-cont {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.experts-cont h1 {
    color: #4255a4;
    font-weight: 500;
}

.row-animated {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    width: 80%;
    padding: 0 60px;
    overflow-x: scroll;
    position: relative;
    
}
.row-animated::-webkit-scrollbar{
    position: absolute;
    top: 0;
   height: 2vh;
   background-color: rgba(54, 49, 49, 0.358);
   color: black;
   user-select: none;
   margin-top: -100px;
}

.row-animated img {
    width: 99%;
    height: auto;
    border-radius: 50%;
}

.round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 170px;
    background-color: rgba(255, 0, 255, 0.079);
    padding: 10px;
    border-radius: 50%;
}

.row-animated .box2 {
    width: 200px;
    height: 280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 0 20px;
}

.row-animated .box2 h3 {
    font-size: 20px;
    font-weight: 600;
    color: #4255a4;
}

.row-animated .box2 p {
    color: #808080;
    font-size: 14px;
    margin: 7px;
}

@media screen and (max-width:900px) {
    /* .row-animated {
        width: 650px;
        height: auto;
    } */

    .row-animated .box2 {
        width: 160px;
        height: 224px;
    }

    .row-animated .round {
        width: 136px;
        height: 136px;
    }

    .row-animated .box h3 {
        line-height: 20px;
    } 
}
/* 
@media screen and (max-width:450px) {
    .row-animated {
        width: 345px;
    }
} */